.forgetpassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.forgetpassword p{
    font-size: 18px;
    font-weight: bold;
}
.forgetpassword input{
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 5px;
}
.forget-input-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.forgetpassword button{
    padding: 9px 20px 9px 20px;
    width: 100%;
    color: white;
    background-color: rgb(40,152,30);
    border: none;
    border-radius: 5px;
}
.forgetpassword button:hover{
    background-color: white;
    color: rgb(40,152,30); 
}