

.helpcenter{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    padding: 50px;
    border-radius: 10px;
     background-color: rgb(37,43,49);
    gap: 10px;
}
.helpcenter-div{
    height: 70%;
}
.helpcenter-input-label{
 display: flex;
 flex-direction: column;
 gap: 3px;
}
.helpcenter-input{
    border-radius: 7px;
    border: none;
    padding: 10px;
}
.helpcenter-label{
 font-size: 13px;
}