.listening{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 16px;
}

@media (max-width:1200px) {
    .listening{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
}
}