.login{
    min-height: 100vh;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(37,43,49);
}


.profile1-login{
    display: flex;
    gap: 2px;
}

.profile1-login p{
    margin-top: 16px;
    height: 15px;
    font-size: 11px;
}
.profile-login-para{
    display: flex; 
    gap: 2px;
}
.profile-login-para1{
    font-weight: bold;
    color: rgb(69,109,203);
    border-bottom: 1px solid rgb(51,93,184);
 
}
.profile-login-para2{
    font-size: 15px;
    font-weight: bold;
    color: #28981E;
    border-bottom: 1px solid #28981E;
 
}


.login-log-image-paragraph{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 20px;
    font-weight: bold;
}
.login-log-image-paragraph1{
    display: flex;
    gap: 2px;
}
.login-logo-image-paragraph-car{
    color: #28981E;
}
.login-log-image{
    background-color: rgb(101,101,117);
    display: flex;
    gap: 40px;
    flex-direction: column;
    border-radius: 30px;
    height: 100%;
    padding:  40px 70px 40px 70px;
}
.loginimage{
    width: 18rem;
    display: flex;
    align-items: center;
    height: 12rem;
}

